{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}MyTravelGuide{% endblock title %}</title>

    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://rawgit.com/alvarotrigo/fullPage.js/master/jquery.fullPage.js"></script>

    Custom script
    <script src='fullpage.js'></script>
     Adding fullpage.css is essential
    <link rel="stylesheet" type="text/css" href="https://rawgit.com/alvarotrigo/fullPage.js/master/jquery.fullPage.css" />-->


    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block extra_css %}
    {% endblock extra_css %}
</head>
<body calss = "bg-main" id="fullpage">
    <div class="full-site-background" style="background-image: url('{% static 'images/header.jpg' %}');">
        <nav class="navbar fixed-top">
            <div class="container">
                <a class="navbar-brand text-primary" href="{% url 'home' %}">MyTravelGuide</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link text-primary" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                            <a href="home">Home</a>
                            <a href="PROFILE">PROFILE</a>
                            <a href="login">LOGIN</a>
                            <a href="register">REGISTER</a>
                            <a href="dashboard">dashboard</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <main role="main" class="overlay">
            {% block content %}
            {% endblock content %}
        </main>

        <footer class="footer bg-primary">
            <div class="container text-center">
                <span class="text-white">© 2023 MyTravelGuide, Inc. All rights reserved.</span>
            </div>
        </footer>
    </div>

    <script src="{% static 'js/jquery-3.5.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    {% block extra_scripts %}
    {% endblock extra_scripts %}
</body>
</html>
