{% extends 'base.html' %}
{% load static %}

{% block title %}Home | MyTravelGuide{% endblock title %}

{% block content %}
<!-- Hero Section -->
<div class="hero" >
    <div class="hero-content">
        <h1 class="display-3 font-weight-bold text-white">Explore the World with Us</h1>
        <p class="lead my-4 text-white">Join our community and start your next adventure.</p>
        <a href="{% url 'register' %}" class="btn btn-lg">Register</a>
        <a href="{% url 'login' %}" class="btn btn-lg btn-secondary">Login</a>
    </div>
</div>

<!-- Features Section -->
<div class="section fp-auto-height">
    <div class="row">
        <div class="col-12 text-center">
            <h2>Welcome to MyTravelGuide</h2>
            <p class="lead">Discover new destinations, create itineraries, and share your travel experiences.</p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-4 mb-3">
            <div class="feature-card card">
                <div class="card-body">
                    <h5 class="card-title">Personalized Itineraries</h5>
                    <p class="card-text">Create travel plans tailored to your interests and preferences.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="feature-card card">
                <div class="card-body">
                    <h5 class="card-title">Reviews and Ratings</h5>
                    <p class="card-text">Read insights from fellow travelers to find your perfect destination.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="feature-card card">
                <div class="card-body">
                    <h5 class="card-title">Community Recommendations</h5>
                    <p class="card-text">Get advice from the community to enhance your travel experience.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
